@import "src/assets/styles/variables.scss";

.formation-item {

  .title {
    font-weight: bold;
  }

  .description {
    margin-top: .2rem;
    margin-bottom: .2rem;
  }

}

.formation-item:not(:last-of-type) {
  margin-bottom: 1rem;
}


