@use 'variables/variables';
@use 'variables/theme-variables';

p {
  text-align: center;
  font-size: 25pt;

  fa-icon {
    color: theme-variables.$on-footer;
    cursor: pointer;
    transition: variables.$transition-delay;
  }

  fa-icon:hover {
    color: theme-variables.$primary;
  }
}
