@import 'src/assets/styles/variables.scss';

p {
  text-align: center;
  font-size: 25pt;

  fa-icon {
    color: var(--on-footer);
    cursor: pointer;
    transition: $transition-delay;
  }

  fa-icon:hover {
    color: var(--primary);
  }
}
