<section class="container">

  <div class="side">
    <img [src]="imageService.avatarUrl">
  </div>

  <div class="main">
    <h1>{{ profileService.fullName }}</h1>
    <div class="main-grid">
      <div class="main-grid-col">
        <ul>
          <li>25 ans</li>
          <li>Lille</li>
        </ul>
      </div>
      <div class="main-grid-col">
        <ul>
          <li>Permis B (Véhicule)</li>
        </ul>
      </div>
      <div class="main-grid-col">
      </div>
    </div>
  </div>

  <div class="side">
    <h2>Projet professionnel</h2>
    <p>Informatique
      <br>
      Développement Logiciel en équipe
    </p>
  </div>


</section>
