@if (!controller.isLoading) {
  @if (model.profile) {
    <section class="container">
      <div class="side side-left">
        <img [class]="themeService.theme" [src]="imageService.avatarUrl" />
      </div>
      <div class="main">
        <!-- Nom -->
        <h1>{{ model.profile.fullName }}</h1>
        <!-- Infos complémentaires -->
        <div class="main-grid info">
          <div class="main-grid-col main-grid-col-left">
            <ul>
              @for (info of model.leftInfoList; track info) {
                <li>{{ info }}</li>
              }
            </ul>
          </div>
          <div class="main-grid-col main-grid-col-right">
            <ul>
              @for (info of model.rightInfoList; track info) {
                <li>{{ info }}</li>
              }
            </ul>
          </div>
        </div>
        <!-- Contact -->
        <div class="main-grid contact">
          <div class="main-grid-col flex-merge-row">
            <ul>
              <li>
                <a href="mailto:{{ model.profile.email }}">{{
                  model.profile.email
                }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="side side-right">
        <h2>{{ messages.goalTitle }}</h2>
        @for (goal of model.profile.goals; track goal) {
          <p>{{ goal }}</p>
        }
      </div>
    </section>
    <cv-banner [position]="model.profile.position"></cv-banner>
  }
} @else {
  <cv-loader></cv-loader>
}
