@import "src/assets/styles/variables.scss";

.container {

  display: flex;
  align-items: center;
  justify-content: center;

  .main {
    flex: 5;

    h1 {
      color: $primary;
      font-size: 2rem;
    }

    .main-grid {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;


      .main-grid-col {
        text-align: left;
        flex: 1;

        ul {
          list-style: none;
          padding: 0;
        }

      }

    }

  }

  .side {
    flex: 2;

    img {
      max-height: 12rem;
    }

    h2 {
      border-bottom: 1px solid $primary;
      color: $primary;
      font-variant: small-caps;
      text-align: center;
    }
  }
}








