@import "src/assets/styles/variables.scss";

.container {

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;

  .main {
    min-width: 25rem;
    flex: 5;
    margin-bottom: 2rem;

    h1 {
      color: $primary;
      font-size: 2rem;
      margin-top: 0;
    }

    .main-grid {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;


      .main-grid-col {
        text-align: left;
        flex: 1;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
        }

      }

    }

    .main-grid.info {

      .main-grid-col ul {
        color: $blue-gray-500;
      }

      .main-grid-col-left {
        flex: 1 1 35%;
      }

      .main-grid-col-right {
        flex: 1 1 65%;
      }
    }

    .main-grid.contact {

      margin-top: 1rem;

      .main-grid-col ul li {
        color: $primary;

        :before {
          content: '>';
          margin-right: .2rem;
        }

        a {
          text-decoration: none;
          color: $primary;
        }
      }
    }

    .flex-merge-row {
      flex: 1 1 100%;
    }

  }

  .side {
    flex: 2;
    min-width: 20rem;

    img {
      max-height: 12rem;
      max-width: 100%;
    }

    h2 {
      border-bottom: 1px solid $primary;
      color: $primary;
      font-variant: small-caps;
      text-align: center;
      margin-top: 0;
    }
  }
}

@media (max-width: 930px) {
  .side-left {
    display: none;
  }

  .side-right {
    display: none;
  }

/*  .side-right h2 {
    border-bottom: none;
    border-top: 1px solid $primary;
  }*/
}

@media (max-width: 630px) {
  .container {
    flex-flow: column wrap;

    .main {
      min-width: unset;
    }
  }
}







