@import "src/assets/styles/variables.scss";

.date-range {
  color: $primary;
  text-transform: capitalize;
}

.date-range:after {
  content: $title-delimiter;
  margin-left: .2rem;
  margin-right: .2rem;
}
