@use 'variables/variables';
@use 'variables/theme-variables';

.date-range {
  color: theme-variables.$primary;
  text-transform: capitalize;
}

.date-range:after {
  content: variables.$title-delimiter;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
