@import 'src/assets/styles/variables.scss';

.title {
  font-weight: bold;
  color: var(--on-background);
}

.team-size {
  color: var(--primary);
}

.team-size:before {
  content: $title-delimiter;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
