@import "src/assets/styles/variables.scss";

.title {
  font-weight: bold;
}

.team-size {
  color: var(--primary);
}

.team-size:before {
  content: $title-delimiter;
  margin-left: .2rem;
  margin-right: .2rem;
}
