@import "src/assets/styles/variables.scss";

.icon {
  background-color: var(--background);
  transition: $transition-delay;
  font-weight: bold;
  font-size: smaller;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 50%;
  width: 50%;
  padding-right: .1rem;
  padding-left: .1rem;
  user-select: none;

  span {
    color: var(--icon-text);
  }
}


