.page-container {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  transition: 0.3s;

  main {
    margin: 0;
    padding: 0 10% 5rem;

    .columns {
      display: flex;
      flex-flow: row-reverse wrap;
      justify-content: space-between;

      div {
        width: calc(50vw - 15%);
      }
    }

    cv-footer {
      display: none;
    }
  }
}

@media (max-width: 1023px) {
  main {
    margin: 0 5% 5rem;

    .columns {
      div {
        width: 100%;
      }
    }

    cv-footer {
      display: block;
    }
  }
}

@media (max-width: 767px) {
  main {
    margin: 0 2% 5rem;
  }
}


