$white: #FFFFFF;
$black: #000000;

$blue: rgb(33, 150, 243);
$light-blue: #deebf7;
$pale-blue: rgb(138, 180, 248);

$light-gray: rgb(222, 235, 247);
$dark-gray: rgb(53, 53, 53);
$on-dark-gray: rgb(195, 195, 195);

$blue-gray-500: #607D8B;
$blue-gray-300: #90A4AE;
$blue-gray-50: #E1F5FE;

$yellow: rgb(231, 171, 60);

$linkedIn: rgb(0, 119, 191);
$pdf: #FF3500;

$title-delimiter: '>';

$transition-delay: 0.3s;
