<cv-category categoryTitle="Expériences">
  <cv-item-container *ngFor="let experience of model.experiences">
    <div>
      <cv-date-prefix [cvDate]="experience.dateRange"></cv-date-prefix>
      <cv-title
        [detail]="messages.jobTypeText(experience.jobTypeEnum)"
        [title]="experience.company"
      ></cv-title>
    </div>
    <div>
      <cv-subtitle
        *ngIf="experience.project"
        [subtitle]="experience.project"
      ></cv-subtitle>
      <cv-descriptions
        [descriptions]="experience.descriptions"
      ></cv-descriptions>
      <cv-badges [badges]="experience.skills"></cv-badges>
    </div>
  </cv-item-container>
</cv-category>
