@use 'variables/variables';
@use 'variables/theme-variables';

div {
  text-align: center;
  color: theme-variables.$secondary;
  background-color: theme-variables.$on-secondary;
  transition: variables.$transition-delay;
}
