@import 'src/assets/styles/variables.scss';

.title {
  color: var(--primary);
}

.title:before {
  content: $title-delimiter;
  margin-right: 0.2rem;
}

.title:after {
  content: ':';
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.values {
  color: var(--on-background);
}
