@import "src/assets/styles/variables.scss";

.title {
  color: var(--primary);
}

.title:before {
  content: $title-delimiter;
  margin-right: .2rem;
}

.title:after {
  content: ':';
  margin-left: .2rem;
  margin-right: .2rem;
}
