@import "src/assets/styles/variables.scss";

nav {
  background-color: #f5f5f5;
  color: $blue-gray-500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: larger;

  -webkit-box-shadow: 0 1px 15px 0 rgba(110, 110, 110, 0.5);
  -moz-box-shadow: 0 1px 15px 0 rgba(110, 110, 110, 0.5);
  box-shadow: 0 1px 15px 0 rgba(110, 110, 110, 0.5);

  .title {
    user-select: none;
  }

  .link {
    text-decoration: none;
    padding: 1rem;
    cursor: pointer;
    transition: 0.3s;
    color: $blue-gray-500;
  }

  a {
    font-size: larger;
  }

  .minimize {
    font-size: small;
  }

  a.linkedin:hover {
    color: $linkedIn;
  }

  a.pdf:hover {
    color: $pdf;
  }

  .minimize:hover {
    color: $primary;
  }
}

nav.minimized {
  position: absolute;
  right: 0;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }

  .link {
    padding: .5rem 0;
  }

}

.placeholder {
  margin-bottom: 2rem;
}

