@import 'src/assets/styles/variables.scss';

nav {
  background-color: var(--navbar);
  color: var(--on-navbar);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: larger;
  user-select: none;
  transition: $transition-delay;

  -webkit-box-shadow: 0 1px 15px 0 var(--navbar-shadow);
  -moz-box-shadow: 0 1px 15px 0 var(--navbar-shadow);
  box-shadow: 0 1px 15px 0 var(--navbar-shadow);

  .title {
    user-select: none;
  }

  .link {
    text-decoration: none;
    padding: 1rem;
    cursor: pointer;
    transition: $transition-delay;
    color: var(--on-navbar);
  }

  a {
    font-size: larger;
  }

  .minimize {
    font-size: small;
  }

  a.linkedin:hover {
    color: $linkedIn;
  }

  a.github:hover {
    color: var(--github);
  }

  a.pdf:hover {
    color: $pdf;
  }

  .theme-button:hover {
    color: $yellow;
  }

  .minimize:hover {
    color: var(--primary);
  }
}

nav.minimized {
  position: absolute;
  right: 0;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }

  .link {
    padding: 0.5rem 0;
  }
}

.placeholder {
  padding-bottom: 2rem;
}
