<nav [ngClass]="{ minimized: minimized }">
  @if (!minimized) {
    <div class="title">
      <span>CV – {{ configService.latestRevisionYear }}</span>
    </div>
  }
  <div>
    <a [href]="configService.pdfDownloadUrl" class="pdf link">
      <fa-icon [icon]="iconsService.faFilePdf"></fa-icon>
    </a>
    <a [href]="configService.linkedInUrl" class="linkedin link" target="_blank">
      <fa-icon [icon]="iconsService.faLinkedIn"></fa-icon>
    </a>
    <a [href]="configService.githubUrl" class="github link" target="_blank">
      <fa-icon [icon]="iconsService.faGithub"></fa-icon>
    </a>
    <fa-icon
      (click)="nextTheme()"
      [icon]="themeIcon"
    class="link theme-button"></fa-icon>
    @if (!minimized) {
      <fa-icon
        (click)="minimized = true"
        [icon]="iconsService.faMinus"
      class="link minimize"></fa-icon>
    }
    @if (minimized) {
      <fa-icon
        (click)="minimized = false"
        [icon]="iconsService.faPlus"
      class="link minimize"></fa-icon>
    }
  </div>
</nav>
@if (minimized) {
  <div class="placeholder"></div>
}
