<cv-category
  [categoryTitle]="messages.categoryTitle"
  [loading]="controller.isLoading">
  @for (skillGroup of model.skillGroups; track skillGroup) {
    <cv-item-container>
      <p>{{ skillGroup.title }}</p>
      <div class="row-container">
        <div class="row">
          @for (skill of skillGroup.skills; track skill) {
            <ng-container class="row-group">
              @switch (skill.skillTypeEnum) {
                @case (faTypeEnum) {
                  <cv-fa-skill
                  [item]="faSkillItem(skill)"></cv-fa-skill>
                }
                @case (textTypeEnum) {
                  <cv-text-skill
                  [item]="textSkillItem(skill)"></cv-text-skill>
                }
                @case (jsTypeEnum) {
                  <cv-js-skill
                  [item]="jsSkillItem(skill)"></cv-js-skill>
                }
              }
            </ng-container>
          }
        </div>
      </div>
    </cv-item-container>
  }
</cv-category>
