<cv-category-title title="Compétences"></cv-category-title>

<cv-item-container>
    <p>Langages & Frameworks</p>

    <div class="row-container">
        <div class="row">
            <cv-fa-skill [faIcon]="iconsService.faJava" title="Java"></cv-fa-skill>
            <cv-fa-skill [faIcon]="iconsService.faLeaf" title="Spring"></cv-fa-skill>
            <cv-text-skill iconText="C++" title="C++"></cv-text-skill>
            <cv-text-skill iconText="C#" title="C#"></cv-text-skill>
            <cv-fa-skill [faIcon]="iconsService.faPython" title="Python"></cv-fa-skill>
            <cv-fa-skill [faIcon]="iconsService.faAndroid" title="Android"></cv-fa-skill>
        </div>
    </div>
</cv-item-container>

<cv-item-container>
    <p>Web</p>
    <div class="row-container">
        <div class="row">
            <cv-fa-skill [faIcon]="iconsService.faAngular" title="Angular"></cv-fa-skill>
            <cv-fa-skill [faIcon]="iconsService.faHtml5" title="HTML"></cv-fa-skill>
            <cv-fa-skill [faIcon]="iconsService.faCss3" title="CSS"></cv-fa-skill>
            <cv-js-skill title="Javascript" iconText="JS"></cv-js-skill>
            <cv-js-skill title="Typescript" iconText="TS"></cv-js-skill>
        </div>
    </div>
</cv-item-container>

<cv-item-container>
    <p>Divers</p>
    <cv-work-in-progress></cv-work-in-progress>
</cv-item-container>

