<cv-category title="Compétences">
    <cv-item-container *ngFor="let group of skillItemGroups">
        <p>{{ group.title }}</p>
        <div class="row-container">
            <div class="row">
                <div *ngFor="let skillItems of group.skillItemLists" class="row-group">
                    <ng-container *ngFor="let item of skillItems">
                        <ng-container [ngSwitch]="item.skillTypeEnum">
                            <cv-fa-skill *ngSwitchCase="faTypeEnum"
                                         [item]="faSkillItem(item)"></cv-fa-skill>
                            <cv-text-skill *ngSwitchCase="textTypeEnum"
                                           [item]="textSkillItem(item)"></cv-text-skill>
                            <cv-js-skill *ngSwitchCase="jsTypeEnum"
                                         [item]="jsSkillItem(item)"></cv-js-skill>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </cv-item-container>
</cv-category>
