p {
  text-align: center;
  font-variant: small-caps;
  color: var(--on-background);
}

.row-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

}
