@import "src/assets/styles/variables.scss";

/**
  Mixin to add colors to font-awesome badges
 */
@mixin badgeColor($badgeClassName, $hoverTextColor, $hoverBackgroundColor) {
  .icon.#{$badgeClassName}:hover, .icon.#{$badgeClassName}.active {
    --icon-hover-color: #{$hoverTextColor};
    --icon-hover-bg: #{$hoverBackgroundColor};
  }
}

/**
  Mixin to add colors to shaped badges (javascript, typescript)
 */
@mixin badgeShapeColor($badgeClassName, $hoverTextColor, $hoverBackgroundColor) {
  .icon.#{$badgeClassName} span {
    --icon-text: var(--icon-inner-text);
  }

  .icon.#{$badgeClassName}:hover, .icon.#{$badgeClassName}.active {
    --icon-hover-color: #{$hoverTextColor};
    --icon-hover-bg: #{$hoverBackgroundColor};

    span {
      --icon-inner-text: #{$hoverBackgroundColor};
    }
  }
}

::ng-deep {

  .icon:hover, .icon.active {
    --icon-hover-color: var(--icon);
    --icon-hover-bg: var(--on-icon);
    color: var(--icon-hover-color);
    background-color: var(--icon-hover-bg);
  }

  @include badgeColor(java, $on-java, $java);
  @include badgeColor(cplusplus, $on-cplusplus, $cplusplus);
  @include badgeColor(csharp, $on-csharp, $csharp);
  @include badgeColor(spring, $on-spring, $spring);
  @include badgeColor(angular, $on-angular, $angular);
  @include badgeColor(python, $on-python, $python);
  @include badgeColor(android, $on-android, $android);
  @include badgeColor(html, $on-html, $html);
  @include badgeColor(css, $on-css, $css);
  @include badgeShapeColor(javascript, $on-javascript, $javascript);
  @include badgeShapeColor(typescript, $on-typescript, $typescript);
  @include badgeColor(keycloak, $on-keycloak, $keycloak);
  @include badgeColor(mysql, $on-mysql, $mysql);
  @include badgeColor(mongodb, $on-mongodb, $mongodb);
  @include badgeColor(maven, $on-maven, $maven);
  @include badgeColor(git, $on-git, $git);
  @include badgeColor(docker, $on-docker, $docker);
  @include badgeColor(kubernetes, $on-kubernetes, $kubernetes);
}
