@import "src/assets/styles/font-gudea.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Gudea, "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

@import "src/assets/styles/themes.scss";
