@import "variables.scss";

.dark-theme {
  --primary: #{$blue};
  --secondary: #{$blue-gray-500};

  --background: #{$black};

  --on-primary: #{$black};
  --on-secondary: #{$black};
  --on-background: #{$white};

  --navbar: #f5f5f5;
  --on-navbar: #{$blue-gray-500};

  --banner: #{$light-blue};
  --on-banner: #{$blue};

  --on-footer: #{$light-blue};

  --badge: #{$black};
  --on-badge: #{$gray};

}
