$bg: white;
$text: black;

$light-blue: rgb(33, 150, 243);
$gray: #90A4AE;
$light-gray: rgb(222, 235, 247);
$blue-gray-500: #607D8B;

$primary: $light-blue;
$bg-primary: white;
$primary-reverse: white;
$bg-primary-reverse: $light-blue;

$secondary: $light-blue;
$bg-secondary: $light-gray;

$linkedIn: rgb(0, 119, 191);
$pdf: #FF3500;
