@import "src/assets/styles/variables.scss";

.icon-with-title {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: .5rem;
  margin-right: .5rem;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Circle */
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    /* Colors */
    background-color: var(--icon);
    color: var(--on-icon);
    /* Alignment */
    text-align: center;
    margin-left: .2em;
    margin-right: .2em;
    transition: $transition-delay;
  }

  .icon:hover {
    color: var(--icon-hover-color);
    background-color: var(--icon-hover-bg);
  }

  .title {
    color: var(--on-background);
  }
}

